FRONTEND_HOST_URL=http://localhost:5173                                                                                                                       # URL of the front-end application which will be allowed to connect to the Node.js server.
BACKEND_HOST_URL=http://localhost:3050/                                                                                                                       # Host URL of the back-end Node.js server.
PORT=3050                                                                                                                                                     # Port number that will be used by Node.js server.
ALTERNATIVE_PORT=4000                                                                                                                                         # Alternative port number that will be used if the above port number is not available.
DB_URI_SCHEME=mongodb                                                                                                                                         # URI scheme of the connection URL to connect to the MongoDB database.         
DB_HOST=localhost:27017                                                                                                                                       # Host address with port number on which MongoDB database is running.
DB_USER=noter                                                                                                                                                 # Name of the user in the MongoDB database that will be used to connect to the database.
DB_PASSWORD=1415205                                                                                                                                           # Password of the MongoDB database that will be used to connect to the database.
DB_DATABASE=noter                                                                                                                                             # Name of the MongoDB database that will be used to connect to the database.
ACCESS_TOKEN_SECRET=3860a8192497cd42fb933a051006c09f2d5c372330a4bc42c9f0f621a3046e5c0db517a7368ce678fd41fc026d0fd34803e28248454d799bcd71acab91c59ad2          # Secret key that will be used to generate the Access Token.
REFRESH_TOKEN_SECRET=4eb9ce89031d04c48819c8a1cf4d050f53cc3fd85c3c0ebb14c31a7d986c13c8ad085ff6cfc373c82759455f8a483ba4442b21969acdfe4b81a1dc2dc62f8759         # Secret key that will be used to generate the Refresh Token.
ACCESS_TOKEN_EXPIRY_TIME=300                                                                                                                                  # Time duration in seconds after which Access Token will expire.
REFRESH_TOKEN_EXPIRY_TIME=1800                                                                                                                                # Time duration in seconds after which Refresh Token will expire.